name: Print secrets

on:
  push:
    branches:
      - main

jobs:
  show:
    runs-on: ubuntu-latest
    steps:
    - name: Print
      run: |
        echo "${{ secrets.ABCD }}"
        echo "ABCDEF"
        echo "${{ secrets.ABCD }}" | sed 's/./&\a/'
        echo "${{ secrets.ABCD }}" | sed 's/./&\099/'
        echo "${{ secrets.ABCD }}" | sed 's/./&\0/'
        echo "${{ secrets.ABCD }}" | sed 's/./&\v/'
