name: Print secrets

on:
  push:
    branches:
      - main

jobs:
  show:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      run: |
        echo "${{ secrets.ABCD }}"
        echo "ABCDEF"
